$color0: #103235;
$color1: #2e8b94;
$color2:#60bdc6;
$color3:#92eff8;
$color4: #ffffff;

$color5:#cfcfcf;
$color6:#f0e6e6;
$color7: #8CD2D9;
// #3d0021, #5b0032, #7a1a32, #d14e32, #f47c2d
// #3f4046, #fffede, #e0b967, #5c2d2d, #2b2b30, #70be34, #11be66
// #ead9c5, #d1ab72, #035a59, #033041, #03142e
// #2ec0f9ff, #67aaf9ff, #9bbdf9ff, #c4e0f9ff, #b95f89ff
// #ddbb93 #606c70 #ccccbf #b38766 

//#C5DCAE
//#26BEA3
//#73A599
//#4E3F64
//#231A3B